:root {
  /* Raw colors */
  --lk-color-white: 1.000 0.000 0.00;
  --lk-color-black: 0.000 0.000 0.00;
  --lk-color-cyan-100: 0.957 0.028 218.90;
  --lk-color-cyan-200: 0.917 0.055 219.73;
  --lk-color-cyan-300: 0.872 0.094 214.64;
  --lk-color-cyan-400: 0.806 0.139 216.34;
  --lk-color-cyan-500: 0.717 0.129 218.88;
  --lk-color-cyan-600: 0.579 0.098 215.96;
  --lk-color-cyan-700: 0.456 0.076 216.40;
  --lk-color-cyan-800: 0.262 0.045 214.18;
  --lk-color-cyan-900: 0.183 0.023 210.61;
  --lk-color-gray-100: 0.845 0.000 0.00;
  --lk-color-gray-200: 0.764 0.000 0.00;
  --lk-color-gray-300: 0.683 0.000 0.00;
  --lk-color-gray-400: 0.510 0.000 0.00;
  --lk-color-gray-500: 0.309 0.002 106.29;
  --lk-color-gray-600: 0.244 0.000 0.00;
  --lk-color-gray-700: 0.239 0.000 0.00;
  --lk-color-gray-800: 0.187 0.000 0.00;
  --lk-color-gray-900: 0.129 0.000 0.00;
  --lk-color-purple-100: 0.937 0.034 312.49;
  --lk-color-purple-200: 0.862 0.096 315.39;
  --lk-color-purple-300: 0.754 0.188 315.57;
  --lk-color-purple-400: 0.606 0.288 312.36;
  --lk-color-purple-500: 0.527 0.248 312.52;
  --lk-color-purple-600: 0.445 0.206 313.07;
  --lk-color-purple-700: 0.358 0.162 312.97;
  --lk-color-purple-800: 0.268 0.113 314.16;
  --lk-color-purple-900: 0.171 0.057 316.13;
  --lk-color-orange-100: 0.928 0.042 56.76;
  --lk-color-orange-200: 0.875 0.076 57.50;
  --lk-color-orange-300: 0.816 0.115 55.88;
  --lk-color-orange-400: 0.763 0.150 54.03;
  --lk-color-orange-500: 0.715 0.180 49.51;
  --lk-color-orange-600: 0.631 0.176 45.92;
  --lk-color-orange-700: 0.512 0.139 47.15;
  --lk-color-orange-800: 0.385 0.101 48.58;
  --lk-color-orange-900: 0.235 0.057 53.76;
  --lk-color-green-100: 0.949 0.056 156.31;
  --lk-color-green-200: 0.906 0.070 160.74;
  --lk-color-green-300: 0.790 0.211 149.80;
  --lk-color-green-400: 0.685 0.163 154.55;
  --lk-color-green-500: 0.612 0.162 151.75;
  --lk-color-green-600: 0.493 0.128 152.53;
  --lk-color-green-700: 0.441 0.116 151.90;
  --lk-color-green-800: 0.277 0.075 150.67;
  --lk-color-green-900: 0.186 0.053 148.60;
  --lk-color-red-100: 0.941 0.022 17.63;
  --lk-color-red-200: 0.890 0.058 26.25;
  --lk-color-red-300: 0.817 0.103 26.12;
  --lk-color-red-400: 0.724 0.171 28.31;
  --lk-color-red-500: 0.661 0.213 29.95;
  --lk-color-red-600: 0.502 0.178 33.22;
  --lk-color-red-700: 0.381 0.130 30.14;
  --lk-color-red-800: 0.267 0.071 29.01;
  --lk-color-red-900: 0.188 0.030 30.82;
  --lk-color-amber-100: 0.949 0.039 86.04;
  --lk-color-amber-200: 0.916 0.067 80.00;
  --lk-color-amber-300: 0.829 0.142 72.57;
  --lk-color-amber-400: 0.792 0.165 68.16;
  --lk-color-amber-500: 0.728 0.167 62.36;
  --lk-color-amber-600: 0.511 0.128 52.64;
  --lk-color-amber-700: 0.446 0.113 52.36;
  --lk-color-amber-800: 0.285 0.058 58.59;
  --lk-color-amber-900: 0.177 0.029 63.10;
  --lk-color-yellow-100: 0.974 0.031 96.83;
  --lk-color-yellow-200: 0.961 0.101 103.90;
  --lk-color-yellow-300: 0.943 0.143 104.06;
  --lk-color-yellow-400: 0.927 0.172 104.26;
  --lk-color-yellow-500: 0.914 0.188 103.59;
  --lk-color-yellow-600: 0.825 0.173 102.92;
  --lk-color-yellow-700: 0.667 0.140 103.32;
  --lk-color-yellow-800: 0.499 0.104 104.05;
  --lk-color-yellow-900: 0.191 0.033 57.72;
  --lk-color-blue-100: 0.939 0.026 264.45;
  --lk-color-blue-200: 0.889 0.049 263.73;
  --lk-color-blue-300: 0.706 0.151 263.46;
  --lk-color-blue-400: 0.552 0.236 267.73;
  --lk-color-blue-500: 0.462 0.283 264.17;
  --lk-color-blue-600: 0.355 0.194 265.25;
  --lk-color-blue-700: 0.282 0.126 267.27;
  --lk-color-blue-800: 0.222 0.081 268.69;
  --lk-color-blue-900: 0.157 0.024 271.65;
  --lk-color-lime-100: 0.966 0.069 129.65;
  --lk-color-lime-200: 0.943 0.122 130.05;
  --lk-color-lime-300: 0.919 0.176 131.13;
  --lk-color-lime-400: 0.898 0.218 132.49;
  --lk-color-lime-500: 0.882 0.248 134.37;
  --lk-color-lime-600: 0.795 0.233 135.56;
  --lk-color-lime-700: 0.642 0.187 135.26;
  --lk-color-lime-800: 0.479 0.138 134.71;
  --lk-color-lime-900: 0.286 0.079 132.68;
  --lk-color-teal-100: 0.961 0.051 184.20;
  --lk-color-teal-200: 0.934 0.087 182.40;
  --lk-color-teal-300: 0.911 0.121 180.96;
  --lk-color-teal-400: 0.891 0.145 179.10;
  --lk-color-teal-500: 0.880 0.160 176.81;
  --lk-color-teal-600: 0.796 0.150 175.00;
  --lk-color-teal-700: 0.642 0.120 175.31;
  --lk-color-teal-800: 0.478 0.088 176.81;
  --lk-color-teal-900: 0.284 0.051 178.32;
  --lk-color-indigo-100: 0.880 0.057 276.49;
  --lk-color-indigo-200: 0.786 0.105 274.80;
  --lk-color-indigo-300: 0.680 0.163 272.83;
  --lk-color-indigo-400: 0.584 0.218 269.73;
  --lk-color-indigo-500: 0.505 0.266 265.94;
  --lk-color-indigo-600: 0.432 0.260 264.61;
  --lk-color-indigo-700: 0.352 0.207 264.66;
  --lk-color-indigo-800: 0.268 0.150 264.89;
  --lk-color-indigo-900: 0.169 0.082 264.28;
  --lk-color-violet-100: 0.906 0.084 326.27;
  --lk-color-violet-200: 0.837 0.151 326.84;
  --lk-color-violet-300: 0.772 0.222 327.47;
  --lk-color-violet-400: 0.723 0.276 327.98;
  --lk-color-violet-500: 0.695 0.308 328.29;
  --lk-color-violet-600: 0.627 0.286 328.36;
  --lk-color-violet-700: 0.505 0.230 328.35;
  --lk-color-violet-800: 0.377 0.171 328.34;
  --lk-color-violet-900: 0.224 0.100 328.32;
  --lk-color-pink-100: 0.898 0.063 347.48;
  --lk-color-pink-200: 0.821 0.117 348.61;
  --lk-color-pink-300: 0.745 0.175 350.97;
  --lk-color-pink-400: 0.685 0.222 354.01;
  --lk-color-pink-500: 0.646 0.251 358.46;
  --lk-color-pink-600: 0.577 0.231 1.56;
  --lk-color-pink-700: 0.466 0.187 0.77;
  --lk-color-pink-800: 0.349 0.139 359.37;
  --lk-color-pink-900: 0.209 0.083 354.86;
}

[data-lk-theme="light"] {
  /* Colors for light mode */
  --lk-color-gray-100: 0.994 0.001 105.51;
  --lk-color-gray-200: 0.951 0.004 106.18;
  --lk-color-gray-300: 0.912 0.004 106.20;
  --lk-color-gray-400: 0.891 0.004 106.21;
  --lk-color-gray-500: 0.798 0.003 106.11;
  --lk-color-gray-600: 0.545 0.000 0.00;
  --lk-color-gray-700: 0.500 0.000 0.00;
  --lk-color-gray-800: 0.420 0.000 0.00;
  --lk-color-gray-900: 0.352 0.000 0.00;
  --lk-color-accent: 0.462 0.283 264.17;
  --lk-color-accent2: 0.552 0.236 267.73;
  --lk-color-purple: 0.606 0.288 312.36;
  --lk-color-purple2: 0.445 0.206 313.07;
  --lk-color-amber: 0.511 0.128 52.64;
  --lk-color-amber2: 0.829 0.142 72.57;
  --lk-color-green: 0.493 0.128 152.53;
  --lk-color-green2: 0.685 0.163 154.55;
  --lk-color-red: 0.381 0.130 30.14;
  --lk-color-yellow: 0.667 0.140 103.32;
  --lk-color-lime: 0.642 0.187 135.26;
  --lk-color-teal: 0.642 0.120 175.31;
  --lk-color-blue: 0.282 0.126 267.27;
  --lk-color-indigo: 0.352 0.207 264.66;
  --lk-color-violet: 0.505 0.230 328.35;
  --lk-color-pink: 0.466 0.187 0.77;
  --lk-color-fg0: 0.000 0.000 0.00;
  --lk-color-fg1: 0.352 0.000 0.00;
  --lk-color-fg2: 0.420 0.000 0.00;
  --lk-color-fg3: 0.500 0.000 0.00;
  --lk-color-fg4: 0.545 0.000 0.00;
  --lk-color-fgAccentPrimary1: 0.462 0.283 264.17;
  --lk-color-fgAccentPrimary2: 0.552 0.236 267.73;
  --lk-color-fgAccentSecondary1: 0.445 0.206 313.07;
  --lk-color-fgAccentSecondary2: 0.606 0.288 312.36;
  --lk-color-fgSuccess: 0.493 0.128 152.53;
  --lk-color-fgModerate: 0.511 0.128 52.64;
  --lk-color-fgSerious1: 0.502 0.178 33.22;
  --lk-color-fgSerious2: 0.661 0.213 29.95;
  --lk-color-fgLLM: 0.825 0.173 102.92;
  --lk-color-fgSTT: 0.612 0.162 151.75;
  --lk-color-fgTTS: 0.715 0.180 49.51;
  --lk-color-bg0: 1.000 0.000 0.00;
  --lk-color-bg1: 0.994 0.001 105.51;
  --lk-color-bg2: 0.951 0.004 106.18;
  --lk-color-bg3: 0.912 0.004 106.20;
  --lk-color-bgAccentPrimary1: 0.939 0.026 264.45;
  --lk-color-bgAccentPrimary2: 0.889 0.049 263.73;
  --lk-color-bgAccentSecondary1: 0.937 0.034 312.49;
  --lk-color-bgAccentSecondary2: 0.862 0.096 315.39;
  --lk-color-bgSuccess1: 0.949 0.056 156.31;
  --lk-color-bgSuccess2: 0.906 0.070 160.74;
  --lk-color-bgModerate1: 0.949 0.039 86.04;
  --lk-color-bgModerate2: 0.916 0.067 80.00;
  --lk-color-bgSerious1: 0.941 0.022 17.63;
  --lk-color-bgSerious2: 0.890 0.058 26.25;
  --lk-color-bgHistogramHover: 0.912 0.004 106.20;
  --lk-color-bgLLM: 0.974 0.031 96.83;
  --lk-color-bgSTT: 0.949 0.056 156.31;
  --lk-color-bgTTS: 0.928 0.042 56.76;
  --lk-color-separator1: 0.891 0.004 106.21;
  --lk-color-separator2: 0.798 0.003 106.11;
  --lk-color-separatorAccentPrimary: 0.889 0.049 263.73;
  --lk-color-separatorAccentSecondary1: 0.862 0.096 315.39;
  --lk-color-separatorAccentSecondary2: 0.754 0.188 315.57;
  --lk-color-separatorSuccess: 0.906 0.070 160.74;
  --lk-color-separatorModerate: 0.916 0.067 80.00;
  --lk-color-separatorSerious1: 0.890 0.058 26.25;
  --lk-color-separatorSerious2: 0.817 0.103 26.12;
  --lk-color-separatorLLM: 0.961 0.101 103.90;
  --lk-color-separatorSTT: 0.906 0.070 160.74;
  --lk-color-separatorTTS: 0.875 0.076 57.50;
  --lk-color-codeAccent: 0.282 0.126 267.27;
  --lk-color-codeAccent2: 0.462 0.283 264.17;
  --lk-color-codePurple: 0.527 0.248 312.52;
  --lk-color-codePurple2: 0.358 0.162 312.97;
  --lk-color-codeAmber: 0.446 0.113 52.36;
  --lk-color-codeAmber2: 0.829 0.142 72.57;
  --lk-color-codeGreen: 0.493 0.128 152.53;
  --lk-color-codeGreen2: 0.685 0.163 154.55;
  --lk-color-codeRed: 0.502 0.178 33.22;
  --lk-color-codeRed2: 0.724 0.171 28.31;
  --lk-color-chart1: 0.462 0.283 264.17;
  --lk-color-chart2: 0.606 0.288 312.36;
  --lk-color-chart3: 0.715 0.180 49.51;
  --lk-color-chart4: 0.754 0.188 315.57;
  --lk-color-chart5: 0.612 0.162 151.75;
  --lk-color-chart6: 0.806 0.139 216.34;
  --lk-color-chart7: 0.825 0.173 102.92;
  --lk-color-chart8: 0.661 0.213 29.95;
  --lk-color-chartSerious: 0.502 0.178 33.22;
  --lk-color-chartSuccess: 0.493 0.128 152.53;
  --lk-color-chartModerate: 0.511 0.128 52.64;
  --lk-color-chartNeutral: 0.545 0.000 0.00;
}

[data-lk-theme="dark"] {
  /* Colors for dark mode */
  --lk-color-accent: 0.806 0.139 216.34;
  --lk-color-accent2: 0.579 0.098 215.96;
  --lk-color-purple: 0.754 0.188 315.57;
  --lk-color-purple2: 0.862 0.096 315.39;
  --lk-color-amber: 0.829 0.142 72.57;
  --lk-color-amber2: 0.511 0.128 52.64;
  --lk-color-green: 0.790 0.211 149.80;
  --lk-color-green2: 0.612 0.162 151.75;
  --lk-color-red: 0.661 0.213 29.95;
  --lk-color-yellow: 0.914 0.188 103.59;
  --lk-color-lime: 0.882 0.248 134.37;
  --lk-color-teal: 0.880 0.160 176.81;
  --lk-color-blue: 0.462 0.283 264.17;
  --lk-color-indigo: 0.505 0.266 265.94;
  --lk-color-violet: 0.695 0.308 328.29;
  --lk-color-pink: 0.646 0.251 358.46;
  --lk-color-fg0: 1.000 0.000 0.00;
  --lk-color-fg1: 0.845 0.000 0.00;
  --lk-color-fg2: 0.764 0.000 0.00;
  --lk-color-fg3: 0.683 0.000 0.00;
  --lk-color-fg4: 0.510 0.000 0.00;
  --lk-color-fgAccentPrimary1: 0.806 0.139 216.34;
  --lk-color-fgAccentPrimary2: 0.579 0.098 215.96;
  --lk-color-fgAccentSecondary1: 0.754 0.188 315.57;
  --lk-color-fgAccentSecondary2: 0.527 0.248 312.52;
  --lk-color-fgSuccess: 0.790 0.211 149.80;
  --lk-color-fgModerate: 0.829 0.142 72.57;
  --lk-color-fgSerious1: 0.724 0.171 28.31;
  --lk-color-fgSerious2: 0.381 0.130 30.14;
  --lk-color-fgLLM: 0.914 0.188 103.59;
  --lk-color-fgSTT: 0.612 0.162 151.75;
  --lk-color-fgTTS: 0.715 0.180 49.51;
  --lk-color-bg0: 0.000 0.000 0.00;
  --lk-color-bg1: 0.129 0.000 0.00;
  --lk-color-bg2: 0.187 0.000 0.00;
  --lk-color-bg3: 0.239 0.000 0.00;
  --lk-color-bgAccentPrimary1: 0.183 0.023 210.61;
  --lk-color-bgAccentPrimary2: 0.262 0.045 214.18;
  --lk-color-bgAccentSecondary1: 0.171 0.057 316.13;
  --lk-color-bgAccentSecondary2: 0.268 0.113 314.16;
  --lk-color-bgSuccess1: 0.186 0.053 148.60;
  --lk-color-bgSuccess2: 0.277 0.075 150.67;
  --lk-color-bgModerate1: 0.177 0.029 63.10;
  --lk-color-bgModerate2: 0.285 0.058 58.59;
  --lk-color-bgSerious1: 0.188 0.030 30.82;
  --lk-color-bgSerious2: 0.267 0.071 29.01;
  --lk-color-bgHistogramHover: 0.309 0.002 106.29;
  --lk-color-bgLLM: 0.191 0.033 57.72;
  --lk-color-bgSTT: 0.186 0.053 148.60;
  --lk-color-bgTTS: 0.235 0.057 53.76;
  --lk-color-separator1: 0.244 0.000 0.00;
  --lk-color-separator2: 0.309 0.002 106.29;
  --lk-color-separatorAccentPrimary: 0.262 0.045 214.18;
  --lk-color-separatorAccentSecondary1: 0.268 0.113 314.16;
  --lk-color-separatorAccentSecondary2: 0.358 0.162 312.97;
  --lk-color-separatorSuccess: 0.277 0.075 150.67;
  --lk-color-separatorModerate: 0.285 0.058 58.59;
  --lk-color-separatorSerious1: 0.267 0.071 29.01;
  --lk-color-separatorSerious2: 0.381 0.130 30.14;
  --lk-color-separatorLLM: 0.499 0.104 104.05;
  --lk-color-separatorSTT: 0.277 0.075 150.67;
  --lk-color-separatorTTS: 0.385 0.101 48.58;
  --lk-color-codeAccent: 0.717 0.129 218.88;
  --lk-color-codeAccent2: 0.872 0.094 214.64;
  --lk-color-codePurple: 0.754 0.188 315.57;
  --lk-color-codePurple2: 0.862 0.096 315.39;
  --lk-color-codeAmber: 0.829 0.142 72.57;
  --lk-color-codeAmber2: 0.511 0.128 52.64;
  --lk-color-codeGreen: 0.790 0.211 149.80;
  --lk-color-codeGreen2: 0.612 0.162 151.75;
  --lk-color-codeRed: 0.817 0.103 26.12;
  --lk-color-codeRed2: 0.502 0.178 33.22;
  --lk-color-chart1: 0.806 0.139 216.34;
  --lk-color-chart2: 0.606 0.288 312.36;
  --lk-color-chart3: 0.715 0.180 49.51;
  --lk-color-chart4: 0.754 0.188 315.57;
  --lk-color-chart5: 0.612 0.162 151.75;
  --lk-color-chart6: 0.552 0.236 267.73;
  --lk-color-chart7: 0.914 0.188 103.59;
  --lk-color-chart8: 0.661 0.213 29.95;
  --lk-color-chartSerious: 0.724 0.171 28.31;
  --lk-color-chartSuccess: 0.685 0.163 154.55;
  --lk-color-chartModerate: 0.829 0.142 72.57;
  --lk-color-chartNeutral: 0.510 0.000 0.00;
}
